sudo: required
services:
  - docker


before_install:
  - docker build -t milan320/react-test -f ./client/Dockerfile.dev


script:
  - docker run -e CI=true milan320/react-test npm test

after_success:
  - docker build -t milan320/multi-client ./client
  - docker build -t milan320/multi-nginx ./nginx
  - docker build -t milan320/multi-server ./server
  - docker build -t milan320/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  #Take those images and push them to docker hub
  - docker push milan320/multi-client
  - docker push milan320/multi-nginx
  - docker push milan320/multi-server
  - docker push milan320/multi-worker




